<!DOCTYPE html>
<html>
<head>
  {{{styles}}}
</head>
<body class="{{tone}}" style="background: url({{{tone_image}}}) top left no-repeat">
  <div class="wrapper">
    <div class="legislator-image">
      <div class="image-wrapper">
        <img src="{{{target.image}}}" alt="{{target.last}}">
      </div>
      <div class="image-overlay" style="background-image: url({{{grade_sign_image}}})">
        <img src="./images/{{grade}}}.png" alt="{{grade}}">
      </div>
    </div>
    <div class="content-wrapper">
      <div class="content">
        <div class="dear">Dear {{target.title}} {{target.name}}...</div>
        <div class="map-pin">{{grade}}</div>
        <div class="city-state">
          {{{city}}}
          {{#if state}}
            {{#if city}}
              ,
            {{/if}}
          {{/if}}
          {{#if city}}
            {{state}}
          {{else}}
            {{state_full}}
          {{/if}}
        </div>
        <div class="user-info">
          <div class="avatar">
              {{#if avatar}}
                <div class="avatar-wrapper">
                  <span class="avatar" style="background-image: url({{{avatar}}})"></span>
                </div>
              {{/if}}
          </div>
          <div class="signature">
            {{{first}}} {{{last}}}
            <br>
            {{{city}}}
            {{#if state}}
              {{#if city}}
                ,
              {{/if}}
            {{/if}}
            {{#if city}}
              {{state}}
            {{else}}
              {{state_full}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="sitelink-text">Find your City's grade at www.ridescore.com</div>
    </div>
  </div>
  {{{scripts}}}
</body>
</html>
