<!DOCTYPE html>
<html>
<head>
  {{{styles}}}
  <script type="text/javascript" src="//use.typekit.net/awu4mpx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="{{tone}}">
  <div class="wrapper">
    <div class="legislator-image">
      <div class="image-wrapper">
        {{#if variants}}
          <img src="{{base_url}}{{target.image}}" alt="{{target.last}}">
        {{/if}}
      </div>
      <div class="image-overlay">
        <img src="{{base_url}}/images/{{grade}}.png" alt="{{grade}}">
      </div>
    </div>
    <div class="content-wrapper">
      <div class="content">
        <div class="dear">Dear {{target.title}} {{target.last}}...</div>
        <div class="map-pin">{{grade}}</div>
        <div class="city-state">
          {{{city}}}
          {{#if state}}
            {{#if city}}
              ,
            {{/if}}
          {{/if}}
          {{#if city}}
            {{state}}
          {{else}}
            {{state_full}}
          {{/if}}
        </div>
        <div class="user-info-wrapper">
          <div class="user-info">
            <div class="avatar">
              <div class="avatar-wrapper">
                {{#if avatar}}
                  <span class="avatar" style="background-image: url({{{avatar}}})"></span>
                {{/if}}
              </div>
            </div>
            <div class="signature">
              <div class="signature-name">{{{first}}} {{{last}}}</div>
              <div class="signature-city-state">
              {{{city}}}
              {{#if state}}
                {{#if city}}
                  ,
                {{/if}}
              {{/if}}
              {{#if city}}
                {{state}}
              {{else}}
                {{state_full}}
              {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sitelink-text regular">Find your City's grade at www.ridescore.com</div>
    </div>
  </div>
  {{{scripts}}}
</body>
</html>
